h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem; // 24
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem; // 20
  font-weight: 400;
  font-style: normal;
}

h3,
label {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; // 16
  font-weight: 400;
  font-style: normal;
}

span,
p,
button,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem; // 14
  font-weight: 400;
  font-style: normal;
}
